*{
    box-sizing: border-box;
}

h1,div,p{
    border: 1px solid #333;
}
h1{
    width: 200px;
    height: 50px;
    background-color: antiquewhite;
    /* box-sizing: border-box; */
    /* box-shadow: 수평거리 수직거리 흐림정도 번짐정도 색상 inset(안에 그림자)*/
    /* box-shadow: 5px 5px 15px 5px blue; */
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;

}
div{
    width: 200px;
    height: 200px;
    background-color: plum;
    box-shadow: 2px -5px 5px beige;
    border-radius: 50%;
}
/* 테두리 스타일 적용 */
p{
    /* border-style: dashed;
    border-width: 2px;
    border-color: blueviolet; */
    border: 5px double red;
    /* 위 오른쪽 아래 왼쪽 */
    /* border-radius: 10px 20px 30px 40px; */
    /* border-radius: 20px 50px; */
    border-radius: 20px;
}