*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
ul,li{
    list-style: none;
}
.container{
    display: flex;
    gap: 40px;
    width: 700px;
    padding: 20px;
    margin: 30px auto;
    background-color: rgb(172, 198, 221);
}
.container img{
    width: 200px;
}
.naver{
    background-color: aliceblue;
    border-radius: 5px 5px 5px 5px;
    width: 135px;
    padding: 10px;
    margin-bottom: 7px;
}
.contents li{
    padding: 4px;
}