*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
nav{
    width: 500px;
    padding: 10px;
    margin: 100px auto;
    background-color: beige;
}
ul{
    padding: 10px;
    background-color: rgb(149, 125, 172);
}
li{
    /* display: inline; */
    display: inline-block;
    width: calc((100% / 4) - 4px);
    padding: 10px;
    background-color: rgb(243, 192, 235);
}
.img-content{
    width: 700px;
    margin: 50px;
    background-color: antiquewhite;
}
.img-content img{
    display: inline block;
}
.img-content p{
    width: 200px;
    display: inline-block;
}